<service>
	<serviceName>piropazo</serviceName>
	<serviceAliases>
		<alias>cupido</alias>
		<alias>cupid</alias>
		<alias>amor</alias>
		<alias>parejas</alias>
	</serviceAliases>
	<serviceDescription>Le ayuda en la ardua busqueda de su media naranja. Encuentra personas afines con usted tomando como referencia los datos de su perfil</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>social</serviceCategory>
</service>
