/* PIROPAZO PERFIL */

*:disabled {
    color: black !important;
    border-bottom: none !important;
}

#btnFloatingMenu {
    position: fixed;
    top: 10px;
    right: 10px;
}

.profile-img {
    margin: auto;
    display: block;
    position: relative;
    padding: .75rem 0;
    width: 100%;
}

#profile {
    position: relative;
}

#info h1, #info h2, #info h3 {
    color: white;
    margin: 6px;
}

#desc {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: white;
    margin: auto;
    padding: 5px;
}

#desc-table td {
    padding: 0 5px;
}

#desc-table tr {
    border: none;
}

#desc-table td:first-child {
    width: 24px;
    padding-left: 0;
}

#info-list, #info-list li {
    border: none;
    margin: 0;
    padding-top: 0;
}

#info h1, #info h2 {
    display: inline;
}

.row {
    margin-bottom: 5px;
}

.row:last-of-type {
    margin-bottom: 0;
}

.underline {
    text-decoration: underline;
}

.size-large {
    font-size: 20px;
}

#denounce-link {
    font-size: small;
    color: grey;
}

.material-placeholder {
    position: relative;
}

.main-heart {
    position: absolute;
    right: -16px;
    top: 4px;
    width: 72px;
    height: 72px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    z-index: 1;
}

#heart-icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

#heart-icon > i {
    font-size: 2.2rem;
    font-weight: 100;
}

.position-bottom {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 48px;
}

.position-bottom.left {
    left: 6px;
}

.position-bottom.right {
    right: 6px;
}

.actions {
    margin-bottom: .75rem;
    position: absolute;
    bottom: -28px;
}

.actions .material-icons {
    font-size: 2.5rem;
}

.picture-container {
    position: relative;
}

#picture-upload-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#edit-fields {
    margin-bottom: 80px;
}

.nav-wrapper, .piropazo-color {
    background-color: #F40E42 !important;
}

.piropazo-color-text {
    color: #F40E42 !important;
}

.tab.disabled > a {
    color: rgba(244, 14, 66, 0.4) !important;
}

#more {
    bottom: 56px;
}

input.valid, textarea.valid, input:focus:not([readonly]), textarea:focus:not([readonly]), .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #F40E42 !important;
    box-shadow: 0 1px 0 0 #F40E42 !important;
}

input:focus:not([readonly]) ~ label, textarea:focus:not([readonly]) ~ label, .dropdown-content li > span {
    color: #F40E42 !important;
}

/* Tienda */

#store-list {
    border-left: none;
    border-right: none;
}

#store-list li {
    padding-left: 48px;
}

#store-list p:nth-child(4) {
    color: #F40E42 !important;
}

#store-list .material-icons {
    top: 30%;
    font-size: 28px;
    left: 4px;
}

#store-icons-row {
    /*justify-content: left;*/
    font-size: 1.5rem;
}

/* Matches */

#matches-lists .secondary-content {
    top: 32%;
    right: 6px;
}

#matches-lists .secondary-content a:first-child {
    margin-right: 5px;
}

#noti-list .secondary-content {
    top: 32%;
    right: 20px;
}

#matches-lists .collection, #matches-lists li, #chats-list, #noti-list {
    border: none;
}

/* Notifications */

#noti-list li {
    padding: 5px 42px 5px 64px;
}

.collection-item.avatar {
    min-height: 65px !important;
}

#noti-list > li > i {
    position: absolute;
    left: 24px !important
}

#noti-list i {
    top: 32%;
}

/* Chat */

p#nochats {
    position: absolute;
    top: 50%;
    left: calc(50% - 160px);
}

#chats-list .secondary-content {
    right: 8px;
    top: 22px;
}

.online-icon {
    font-size: 10px;
    position: absolute;
    left: 45px;
    bottom: 5px;
    border-radius: 50%;
    border: 1px solid white;
}

.modal > .collection {
    margin: 0;
}

.chat {
    overflow: auto;
    margin: 10px 0;
}

html {
    overflow-x: hidden;
}

.bubble {
    display: inline-block;
    padding: 5px 9px;
    position: relative;
    vertical-align: top;
    clear: both;
    word-break: break-word;
    max-width: 75%;
}

.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: -1;
}

.bubble small {
    float: right;
}

.you {
    float: left;
    margin: 5px 45px 5px 20px;
    background-color: #f7556e;
}

.you::before {
    left: -4px;
    background-color: #f7556e;
    transform: rotate(54deg) skew(-35deg);
    -moz-transform: rotate(54deg) skew(-35deg);
    -ms-transform: rotate(54deg) skew(-35deg);
    -o-transform: rotate(54deg) skew(-35deg);
    -webkit-transform: rotate(54deg) skew(-35deg);
}

.me {
    float: right;
    margin: 5px 20px 5px 45px;
    background-color: #e6e6e6;
}

#messageField, #messageField textarea, #chat-row {
    margin-bottom: 0;
}

#messageField {
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#messageField textarea {
    border: none;
}

.me::before {
    right: -4px;
    background-color: #e6e6e6;
    transform: rotate(0deg) skew(-35deg);
    -moz-transform: rotate(0deg) skew(-35deg);
    -ms-transform: rotate(0deg) skew(-35deg);
    -o-transform: rotate(0deg) skew(-35deg);
    -webkit-transform: rotate(0deg) skew(-35deg);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                       supported by Chrome and Opera */
}

nav ul a {
    padding: 0 12px !important;
}

nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.tabs .indicator {
    background-color: #F40E42 !important;
}

/* MESSAGES */

.message {
    padding: 5px 10px;
    border-radius: 3px;
}

.message.danger {
    color: #e53935;
    background-color: #ffcdd2;
}

.message.notice {
    color: #1565c0;
    background-color: #bbdefb;
}

.message.success {
    color: #1b5e20;
    background-color: #c8e6c9;
}

.message i {
    position: relative;
    bottom: -5px;
    float: left;
}

.message p {
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* CHAT */

ul.chat {
    position: relative;
}

ul.chat li {
    display: inline-block;
    clear: both;
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 3px;
    word-break: break-word;
}

.chat .left {
    color: #757575;
    background: #eee;
    margin-left: 15px;
    float: none;
}

.chat .left .message-avatar {
    position: relative;
    top: 25px;
    left: -35px;
    margin-top: -30px;
    float: left;
}

.chat .right {
    color: #fff;
    background: #66bb6a;
    margin-right: 15px;
    float: right;
}

.chat .right .message-avatar {
    position: relative;
    top: 25px;
    right: -35px;
    margin-top: -30px;
    float: right;
}

.chat .date {
    margin-left: 5px;
    font-size: x-small;
}

/* GENDERS */
.M {
    color: #5c6bc0;
}

.F {
    color: #ec407a;
}

/* img attachments */

.chat img.responsive-img {
    max-height: 25vh;
    border-radius: 10px;
}

#messagePictureBox {
    display: inline-block;
    position: relative;
}

#messagePictureBox > i {
    position: absolute;
    top: 2px;
    right: 2px;
}