/* MENU */

#btnFloatingMenu {
	position: fixed;
	top: 10px;
	right: 10px;
}

/* COLORS */

.male-border {
	border: 2px solid #4863A0;
}

.male-color {
	color: #4863A0;
}

.female-border {
	border: 2px solid #F778A1;
}

.female-color {
	color: #F778A1;
}

.neutral-border {
	border: 2px solid gray;
}

.neutral-color {
	color: gray;
}

/* GENERAL */

.flag {
	width: 20px;
}

.fab-align{
	left: 80%;
	margin-top: -40px;
}

.hidden {
	display: none;
}

/* PIROPAZO CITAS */

.profile-wrap {
	height: 300px;
}

.pointer {
	cursor: pointer;
}

.interest {
	color: white;
	background-color: #424242;
	padding: 2px 5px;
	margin: 0px 5px 5px 0px;
	white-space: nowrap;
	border-radius: 5px;
	display: inline-block;
	font-size: small;
}

/* PIROPAZO PAREJAS */

.collection-item {
	min-height: unset !important;
}

/* PIROPAZO PERFIL */

.profile-img{
	margin: auto;
}

.row {margin-bottom: 5px};

.row:last-of-type{ margin-bottom: 0;}

.underline {
	text-decoration: underline;
}

.size-large {
	font-size: 20px;
}

#denounce-link {
	font-size: small;
	color: grey;
}

.material-placeholder{ position: relative; }

.position-top-right {
	position: absolute;
	right: 18px;
	z-index: 1;
}

.position-bottom-left {
	position: absolute; 
	z-index: 1;
	bottom: 10px;
}

/* PIROPAZO TIENDA */

.fixed-width {
	width: 120px;
}

.focus{
	border-bottom: 1px solid #57b23b !important;
	box-shadow: 0 1px 0 0 #57b23b !important;

}
#inter-inside{
	margin-top: 0px !important;
}
#inter-outside{
	padding: 0px !important;
}


.chat {
	overflow:auto;
	margin: 10px 0;
}

html {
	overflow-x: hidden;
}

.bubble{
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    clear: both;
    word-break: break-word;
}

.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    float: left;   
    margin: 5px 45px 5px 20px;
    background-color: #F2F2F2;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    background-color: #F2F2F2;   
}

.me {
    float: right;    
    margin: 5px 20px 5px 45px;
    background-color: #9ef57c;
}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: #9ef57c;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}