/* MENU */

#btnMenu {
	float: right;
	margin: 10px;
}

/* COLORS */

.male-border {
	border: 2px solid #4863A0;
}

.male-color {
	color: #4863A0;
}

.female-border {
	border: 2px solid #F778A1;
}

.female-color {
	color: #F778A1;
}

.neutral-border {
	border: 2px solid gray;
}

.neutral-color {
	color: gray;
}

/* GENERAL */

.flag {
	width: 20px;
}

.fab-align{
	left: 80%;
	margin-top: -40px;
}

.hidden {
	display: none;
}

/* PIROPAZO CITAS */

.card-link-si {
	vertical-align: top;
	color: green !important;
}

.card-link-no {
	vertical-align: top;
	color: red !important;
}

.profile-wrap {
	height: 300px;
}

/* PIROPAZO PAREJAS */

.collection-item {
	min-height: unset !important;
}

/* PIROPAZO PERFIL */

.img-wrap {
	width: 100%;
	height: 200px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0;
}

.img-wrap img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	transform: translate(-50%, -50%);
}

.underline {
	text-decoration: underline;
}

.size-large {
	font-size: 35px;
}

#denounce-link {
	font-size: small;
	color: grey;
}

.position-top-right {
	position: absolute; 
	right: 10px;
}

/* PIROPAZO TIENDA */

.fixed-width {
	width: 120px;
}

/* PIROPAZO NOTIFICACIONES */

.no-left-padding {
	padding-left: 20px !important;
}