<!-- MENU -->
<div class="container">
	<div class="navbar" style="padding: 0px 10px;">
		<nav class="transparent z-depth-0">
			<div class="nav-wrapper">
				<!-- LOGO -->
				<span class="brand-logo">
					<img style="width:30px; height:30px;" src="{{APP_RESOURCES}}/images/icon.png" alt="Piropazo"/>
				</span>

				<!-- FLOATING MOBILE BTN -->
				<a id="btnMenu" href="#" data-target="mobile-demo" class="sidenav-trigger btn-floating btn-small waves-effect waves-light green" onclick="openMenu();">
					<i class="material-icons">menu</i>
				</a>

				<!-- ICONS ON THE MENU -->
				<ul id="mobile-demo" class="right hide-on-med-and-down">
					<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO CITAS'})"><i class="material-icons green-text">favorite</i></a></li>
					<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO PAREJAS'})"><i class="material-icons green-text"">people</i></a></li>
					<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO PERFIL'})"><i class="material-icons green-text"">face</i></a></li>
					<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO TIENDA'})"><i class="material-icons green-text"">shopping_cart</i></a></li>
					<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO NOTIFICACIONES'})"><i class="material-icons green-text"">notifications</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<!-- SIDE BAR TO BE OPENED ON MOBILE -->
<ul class="sidenav">
	<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO CITAS'})"><i class="material-icons green-text">favorite</i> Citas</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO PAREJAS'})"><i class="material-icons green-text"">people</i> Parejas</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO PERFIL'})"><i class="material-icons green-text"">face</i> Perfil</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO TIENDA'})"><i class="material-icons green-text"">shopping_cart</i> Tienda</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'PIROPAZO NOTIFICACIONES'})"><i class="material-icons green-text"">notifications</i> Notificaciones</a></li>
</ul>

<!-- CONTENT -->
<div class="container">
	<div class="row">
		{{APP_TEMPLATE_CODE}}
	</div>
</div>
