<%
	if(typeof menuicon == 'undefined') menuicon = '';
	var menu = [
		{link:'CITAS', icon:'favorite', caption:'Citas'},
		{link:'PAREJAS', icon:'people', caption:'Parejas'},
		{link:'PERFIL', icon:'person', caption:'Perfil'},
		{link:'CHAT', icon:'message', caption:'Chat'},
		//{link:'NOTIFICACIONES', icon:'notifications', caption:'Alertas'},
		{link:'TIENDA', icon:'shopping_cart', caption:'Tienda'}];
%>

<!-- MENU -->
<div class="row" style="margin-bottom: 0;">
	<div class="navbar hide-on-unique">
		<nav>
			<div class="nav-wrapper">
				<!-- ICONS ON THE MENU -->
				<ul class="right">
					<% menu.forEach(function(e) { %>
						<li class="<%= e.icon==menuicon ? 'active' : '' %>">
							<a href="#!" class="<%= e.icon==menuicon ? 'piropazo-color-text' : '' %>" onclick="apretaste.send({'command':'PIROPAZO <%= e.link %>'})">
								<i class="material-icons tiny white-text"><%= e.icon %></i>
							</a>
						</li>
					<% }); %>
				</ul>
			</div>
		</nav>
	</div>
</div>

<!-- CONTENT -->
<div class="row">
	{{APP_TEMPLATE_CODE}}
</div>