<%
	if(typeof menuicon == 'undefined') menuicon = '';
	var menu = [
		{link:'CITAS', icon:'favorite'},
		{link:'PAREJAS', icon:'people'},
		{link:'PERFIL', icon:'face'},
		{link:'TIENDA', icon:'shopping_cart'},
		{link:'NOTIFICACIONES', icon:'notifications'}];
%>

<!-- MENU -->
<div class="container">
	<div class="navbar" style="padding: 0px 10px;">
		<nav class="transparent z-depth-0">
			<div class="nav-wrapper">
				<!-- LOGO -->
				<span class="brand-logo">
					<img style="max-height: 64px; padding: 15px 0;" src="{{APP_RESOURCES}}/images/icon.png" alt="Piropazo"/>
				</span>

				<!-- ICONS ON THE MENU -->
				<ul class="right hide-on-small-only hide-on-med-only">
					<% menu.forEach(function(e) { %>
						<li class="<%= e.icon==menuicon ? 'active' : '' %>"><a href="#!" onclick="apretaste.send({'command':'PIROPAZO <%= e.link %>'})"><i class="material-icons green-text"><%= e.icon %></i></a></li>
					<% }); %>
				</ul>
			</div>
		</nav>
	</div>
</div>

<!-- CONTENT -->
<div class="container">
	<div class="row">
		{{APP_TEMPLATE_CODE}}
	</div>
</div>