<%
if (typeof menuicon == 'undefined') menuicon = '';
var menu = [
    {link: 'CITAS', icon: 'favorite', caption: 'Citas'},
    {link: 'PAREJAS', icon: 'people', caption: 'Parejas'},
    {link: 'PERFIL', icon: 'person', caption: 'Perfil'},
    {link: 'TIENDA', icon: 'shopping_cart', caption: 'Tienda'}];
%>

<!-- TABS -->
<% if (typeof profileIncomplete == 'undefined') var profileIncomplete = false; %>
<% if( ! profileIncomplete){ %>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <% menu.forEach(function(e) { %>
                <% var active = typeof title != "undefined" && title == e.caption ? 'active' : '' %>
                <% var disabled = e.caption != 'Perfil' && typeof profileIncomplete != "undefined" && profileIncomplete %>
                <li class="tab <%= disabled ? 'disabled' : '' %>">
                    <a href="#" class="green-text <%= active %>"
                    <% if(!disabled){ %>
                       onclick="apretaste.send({'command':'PIROPAZO <%= e.link %>'})"
                            <% } %>
                    >
                        <%= e.caption %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>

<!-- CONTENT -->
<div class="row">
    {{APP_TEMPLATE_CODE}}
</div>