<h1>Tienda de Piropazo</h1>
<p>Canjee su cr&eacute;dito por flores y coronas que le ayudar&aacute;n a encontrar su media naranja. Puede comprar creditos, o adquirirlo en nuestros eventos.</p>

<ul class="collection">
	<li class="collection-item avatar">
		<i class="material-icons circle">local_florist</i>
		<span class="title"><b>Una flor</b></span>
		<p>Regale una flor para atraer su atención y agregar una semana al tiempo de espera.</p>
		<a class="secondary-content waves-effect waves-light btn-small fixed-width" href="#!" onclick="apretaste.send({'command':'CREDITO COMPRAR','data':{'item':'FLOWER'}})">Canjear &sect;0.5</a>
	</li>

	<li class="collection-item avatar">
		<i class="material-icons circle">favorite</i>
		<span class="title"><b>Un coraz&oacute;n</b></span>
		<p>Este aparecerá junto a su foto por tres días, haciendo que su perfil se muestre con mucha mayor frecuencia.</p>
		<a class="secondary-content waves-effect waves-light btn-small fixed-width" href="#!" onclick="apretaste.send({'command':'CREDITO COMPRAR','data':{'item':'CROWN'}})">Canjear &sect;2</a>
	</li>

	<li class="collection-item avatar">
		<i class="material-icons circle">shopping_basket</i>
		<span class="title"><b>7 flores y 2 corazones</b></span>
		<p>La oferta perfecta para que empieces a crear amores como todo un profesional.</p>
		<a class="secondary-content waves-effect waves-light btn-small fixed-width" href="#!" onclick="apretaste.send({'command':'CREDITO COMPRAR','data':{'item':'PACK_ONE'}})">Canjear &sect;5</a>
	</li>

	<li class="collection-item avatar">
		<i class="material-icons circle">shopping_cart</i>
		<span class="title"><b>15 flores y 4 corazones.</b></span>
		<p>Saca el mayor beneficio posible de Piropazo y conviertete en todo un cyber-Romeo.</p>
		<a class="secondary-content waves-effect waves-light btn-small fixed-width" href="#!" onclick="apretaste.send({'command':'CREDITO COMPRAR','data':{'item':'PACK_TWO'}})">Canjear &sect;10</a>
	</li>
</ul>

<p>Usted tiene <b>&sect;<%= credit %></b>. Compre cr&eacute;ditos en <a href="https://apretaste.org/topup?email=<%= email %>" target="_blank">nuestra website.</a></p>
