<div class="row">
	<div class="col s12">
		<p>Canjee su crédito por flores y corazones que le ayudarán a encontrar su media naranja. Puede comprar créditos, o adquirirlo en nuestros eventos.</p>
		<div class="valign-wrapper" style="justify-content: center;">
			<i class="material-icons piropazo-color-text">local_florist</i><%= flowers %>&nbsp;&nbsp;&nbsp;
			<i class="material-icons piropazo-color-text">favorite</i><%= crowns %>&nbsp;&nbsp;&nbsp;
			<i class="material-icons piropazo-color-text">attach_money</i><%= credit %>
		</div>
		<ul class="collection" id="store-list">
			<li class="collection-item avatar">
				<i class="material-icons circle white grey-text text-darken-2">local_florist</i>
				<span class="title"><b>Una flor.</b></span>
				<p>Regale una flor para atraer su atención y agregar una semana al tiempo de espera.</p>
				<p><small onclick="apretaste.send({'command':'CREDITO PROCESAR','data':{'item':'FLOWER'}})">Canjear por $0.50</small></p>
			</li>

			<li class="collection-item avatar">
				<i class="material-icons circle white grey-text text-darken-2">favorite</i>
				<span class="title"><b>Un corazón.</b></span>
				<p>Este aparecerá junto a su foto por tres días, haciendo que su perfil se muestre con mucha mayor frecuencia.</p>
				<p><small onclick="apretaste.send({'command':'CREDITO PROCESAR','data':{'item':'HEART'}})">Canjear por $2.00</small></p>
			</li>

			<li class="collection-item avatar">
				<i class="material-icons circle white grey-text text-darken-2">shopping_basket</i>
				<span class="title"><b>7 flores y 2 corazones.</b></span>
				<p>La oferta perfecta para que empieces a crear amores como todo un profesional.</p>
				<p><small onclick="apretaste.send({'command':'CREDITO PROCESAR','data':{'item':'PACK_ONE'}})">Canjear por $5.00</small></p>
			</li>

			<li class="collection-item avatar">
				<i class="material-icons circle white grey-text text-darken-2">shopping_cart</i>
				<span class="title"><b>15 flores y 4 corazones.</b></span>
				<p>Saca el mayor beneficio posible de Piropazo y conviertete en todo un cyber-Romeo.</p>
				<p><small onclick="apretaste.send({'command':'CREDITO PROCESAR','data':{'item':'PACK_TWO'}})">Canjear por $10.00</small></p>
			</li>
		</ul>
	</div>
	<div class="col s12 center-align"><a class="btn piropazo-color" id="btn-credit"><b>Compra Créditos</b></a></div>
</div>