@font-face {
	font-family: "emoji";
	src: url('/fonts/seguiemj.ttf') format("truetype");
}

@media only screen and (max-width: 600px) {
	#container {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.button {
		display: block !important;
	}
	.button a {
		display: block !important;
		font-size: 18px !important; width: 100% !important;
		max-width: 600px !important;
	}
	.section {
		width: 100%;
		margin: 2px 0px;
		display: block;
	}
	.phone-block {
		display: block;
	}
}

body{
	font-family: Arial;
}

.rounded{
	border-radius: 10px;
	background: white;
	padding: 10px;
}

.emoji{
	font-family: emoji;
}

.flag{
	vertical-align:middle;
	width:20px;
	margin-right:3px;
}

.profile-small{
	float:left;
	width: 30px;
	height:30px;
	border-radius:100px;
	margin-right:5px;
}

h1{
	color: #5DBB48;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	font-weight: normal;
}

.notice{
	background-color:#F2DEDE;
	color:#A94442;
	padding:5px;
	font-size:small;
	margin-bottom: 10px;
}

.online{
	background-color:#74C365;
	font-size:7px;
	padding:2px;
	border-radius:3px;
	color:white;
	font-weight:bold;
}

.hidden {
	display: none;
}

#menu td{
	background-color:#F2F2F2;
	border-radius:5px;
}

